*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#eaeded;
color:#111;
display:flex;
flex-direction:column;
min-height:100vh;
}

/* HEADER AMAZON STYLE */

header{
background:#131921;
color:white;
padding:14px 8%;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-size:22px;
font-weight:bold;
color:#ff9900;
}

nav{
display:flex;
gap:20px;
}

nav a{
color:white;
text-decoration:none;
font-weight:500;
}

nav a:hover{
color:#ff9900;
}

/* HERO */

.hero{
background:#232f3e;
color:white;
padding:60px 8%;
text-align:center;
}

.hero h1{
font-size:36px;
margin-bottom:10px;
}

.hero p{
font-size:18px;
margin-bottom:20px;
}

.btn{
background:#ff9900;
color:white;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
font-weight:bold;
}

/* CATEGORIAS */

.categorias-menu{
background:white;
padding:15px 8%;
display:flex;
flex-wrap:wrap;
gap:10px;
border-bottom:1px solid #ddd;
}

.categoria-btn{
padding:8px 14px;
background:#f2f2f2;
border-radius:20px;
cursor:pointer;
font-size:14px;
}

.categoria-btn:hover{
}